@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* Section HOME */
section.home{
    width: 100%;
    height: 100vh;
    background-color: rgb(184, 250, 167);
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    background-color:rgb(121, 228, 155);
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}
.logo img{
    width: 100%;
    display: block;

}
nav {
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

nav ul {
    width: 60%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav li {
    width: 20%;
    height: 25px;
}

nav a {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(41, 9, 11);
    text-decoration: none;
}
nav a:hover{
    width: 100%;
    background-color: rgb(94, 153, 104);
}
.intro {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 1fr;
}
.intro h1 {
    font-size: 50px;
    color: rgb(41, 9, 11);
    margin: 20px auto;
    text-align: center;
    
    font-family: 'Satisfy', cursive;
}
.intro p {
    color: rgb(41, 9, 11);
    font-size: 20px;
    margin-bottom: 20px;

}
.intro .text,
.intro .image {
    align-self: center;
}
.intro img{
    width: 100%;
    border-radius: 10px;
}
.intro a {
    width: 30%;
    display: block;
    align-self: center;
    margin: 0 auto;
    text-align: center;
    color: rgb(41, 9, 11);
    font-size: 16px;
    border: 1px solid rgb(3, 68, 22);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}
.intro a:hover{
    background-color: rgb(94, 153, 104);
    color: rgb(15, 94, 28);
    transform: scale(1.05);
}
/* Section PUNA */
section.puna{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 60px 0px;
}
section.puna h2{
    text-align: center;
    color: black;
    text-transform: uppercase;
}
section.puna p {
    color: rgb(7, 32, 15);
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
section.puna .projektet{
    width: 100%;
    height: 50vh;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
section.puna .projekt{
    position: relative;
    overflow: hidden;
}

.humanitet, .kulture, .eko{
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.humanitet{
    background-image: url(../images/charity-logo.jpg);
}
.kulture{
    background-image: url(../images/culture-logo.jpg);
}
.eko{
    background-image: url(../images/eko-logo.png);
}
.projektet .details{
    width: 400px;
    height: 100%;
    background-color: lightgreen;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.4s;
    position: absolute;
    bottom: 0;
    bottom: -300px;
}
.projekt:hover .details {
    bottom: 0;
}

.projektet .details h3,
.projektet .details p{
    color: rgb(15, 94, 28);
    text-align: center;
}
.projektet .details h3{
    font-size: 22px;
}

.projektet .details p{
    font-size: 16px;
}

.projektet .details a{
    display: block;
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(15, 94, 28);
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(15, 94, 28);
    text-transform: uppercase;
    font-size: 14px;
}
.puna a{
    display: block;
    width: 25%;
    margin: 30px auto;
    border: 1px solid rgb(15, 94, 28);
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(15, 94, 28);
    text-transform: uppercase;
    font-size: 14px;
}
.puna a:hover{
    background-color: rgb(94, 153, 104);
    color: rgb(15, 94, 28);
    transform: scale(1.05);
}

/* Section Staff */
section.staf{
    width: 100%;
    height: 100vh;
    background-color: rgb(184, 250, 167);
}
section.staf h2{
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 20px;
}
section.staf h2,
section.staf p{
    text-align: center;
    color:rgb(15, 94, 28);
    
}
section.staf p{
    font-size: 18px;
    padding: 15px;
}

section.staf .members{
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
section.staf .member {
    width: 100%;
    text-align: center;
}
section.staf .member img{
    max-width: 90%;
    max-height: auto;
}
section.staf a{
    display: block;
    width: 25%;
    margin: 30px auto;
    border: 1px solid rgb(15, 94, 28);
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(15, 94, 28);
    text-transform: uppercase;
    font-size: 14px;
}
section.staf a:hover{
    background-color: rgb(94, 153, 104);
    color: rgb(15, 94, 28);
    transform: scale(1.05);
}

section.staf .member a{
    width: 60%;
    margin: auto;
    font-size: 14px;
    align-self: center;
    transition: all 0.4s;
    
}
section.staf .member a:hover{
    background-color: rgb(94, 153, 104);
    color: rgb(15, 94, 28);
    transform: scale(1.05);
}



/* Section Gallery */
section.gallery{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 0px;
}
.gallery .items{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
}
.gallery .item{
    text-align: center;
}
.item img {
    width: 250px;
    height: 200px;
  }
.gallery h1{
    font-size: 22px;
    color: rgb(3, 68, 22);
    text-align: center;
    margin: 25px auto;
}

/* Section Contact */
section.contact{
    width: 100%;
    height: 100vh;
    background-color: rgb(184, 250, 167);
}
.contact h1{
    font-size: 30px;
    text-align: center;
    padding-top: 80px;
}
.contact p{
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    padding: 50px auto;
}
.contact.container{
    display: grid;
}
section.contact .contact-info-form{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    gap: 25px;
}

.contact input,
.contact textarea{
    width: 100%;
    padding: 15px;
    margin: 10px auto;
    font-size: 18px;
    border-radius: 5px;
}
:placeholder-shown{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color:rgb(15, 94, 28);
}
.contact textarea{
    resize: none;
}
.contact button{
    width: 30%;
    display: inline-block;
    color: rgb(41, 9, 11);
    font-size: 16px;
    border: 1px solid rgb(3, 68, 22);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}
.contact button:hover{
    background-color: rgb(94, 153, 104);
    color: rgb(5, 27, 9);
    transform: scale(1.05);
}
.info span{
    display: block;
    padding-top: 10px;
}  
.info iframe{
    height: 90%;
}

/* Footer */
.footer{
    width: 100%;
    height: 40px;
    color: rgb(7, 32, 15);
    background-color: rgb(101, 179, 124);
    text-align: center;
}
.footeri p{
    display: block;
    align-content: center;
    padding-top: 10px;
}

/* Media query mobile */
@media screen and (max-width: 599px) {

    .container{
    width: 100%;
    margin: 0;
}
    /* Section HOME */
section.home{
    width: 100%;
    height: auto;
}
header{
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}
.logo{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;
}

.logo img{
    width: 200px;
    margin: 0 auto;
}
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

nav ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
nav li {
    height: 20px;
}

nav a {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: rgb(41, 9, 11);
    text-decoration: none;
}
nav a:hover{
    width: 100%;
    background-color: rgb(94, 153, 104);
}
.intro {

    display: block;
}
.intro h1 {
    font-size: 20px;
    margin: 30px auto;
}
.intro p {
    font-size: 20px;
    margin: 25px auto;
    text-align: center;
}


.intro .text a {
    display: block;
    width: 40%;
    margin: 25px auto;
    color: rgb(41, 9, 11);
    font-size: 12px;
    border: 1px solid rgb(3, 68, 22);
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.4s;
    
}
.intro a:hover{
    background-color: rgb(94, 153, 104);
    color: rgb(15, 94, 28);
    transform: scale(1.05);
}
.intro img{
    margin: 40px auto;
}
/* Section PUNA */
section.puna{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 60px 0px;
}
section.puna h2{
    text-align: center;
    color: black;
    text-transform: uppercase;
}
section.puna p {
    color: rgb(7, 32, 15);
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
section.puna .projektet{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    flex-direction:column;
    
}
section.puna .projekt{
    position: relative;
    overflow: hidden;
}

.humanitet, .kulture, .eko{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-content: center;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.humanitet{
    grid-column: 1;
    grid-row: 1;
    
}
.kulture{
    grid-column: 1;
    grid-row: 2;
    
}
.eko{
    grid-column: 1;
    grid-row: 3;

}
.projektet .details{
    width: 200px;
    background-color: lightgreen;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 0.4s;
    position: absolute;
    bottom: 0;
    opacity: 0.8;
}
.projekt:hover .details {
    bottom: 0;
}

.projektet .details h3,
.projektet .details p{
    color: rgb(15, 94, 28);
    text-align: center;
}
.projektet .details h3{
    font-size: 22px;
}

.projektet .details p{
    font-size: 16px;
}

.projektet .details a{
    display: block;
    width: 60%;
    margin: 0 auto;
    border: 1px solid rgb(15, 94, 28);
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(15, 94, 28);
    text-transform: uppercase;
    font-size: 14px;
}
.puna a{
    display: block;
    width: 55%;
}
.puna a:hover{
    background-color: rgb(94, 153, 104);
    color: rgb(15, 94, 28);
    transform: scale(1.05);
}

/* Section Stafi */
section.staf .container{
    width: 100%;
    height: auto;
}
section.staf h2{
    font-size: 24px;
}
section.staf p{
    font-size: 14px;
    padding: 0;
}
section.staf .members {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
section.staf a{
    line-height: 20px;
}
.members h3{
    font-size: 14px;
}
.member img{
    width: 200px;
    margin-top: 15px;
}
section.staf .member a{
    width: 50%;
    font-size: 11px;

    
}
section.staf a{
    width: 40%;
}
.gallery .items {
    grid-template-columns: repeat(2, 1fr);
  }
.item img{
    width: 150px;
    height: 80px;
}
/* Section Contact */
section.contact .container{
    width: 100%;
    height: auto;
}
.contact h1 {
    font-size: 20px;
    padding-top: 40px;
  }
section.contact .contact-info-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 15px;
}
.info iframe {
    height: 200px;
    width: 330px;
  }
.contact input, .contact textarea {
    padding: 10px;
    font-size: 14px;
}
}
/* Media query tablet */
 @media screen and (min-width: 600px) and (max-width: 1199px) {

    .container{
        width: 100%;
        margin: 0;
    }
    /* Section HOME */
    section.home{
        width: 100%;
        height: auto;
    }
    header{
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 15px 0;
    }
        
    .logo img{
        width: 200px;
        margin: 0 auto;
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
        
    nav ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
    }
    nav li {
        height: 20px;
    }
        
    nav a {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        color: rgb(41, 9, 11);
        text-decoration: none;
    }
    nav a:hover{
        width: 100%;
        background-color: rgb(94, 153, 104);
    }
    .intro {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    .intro h1 {
        font-size: 20px;
        margin: 30px auto;
        }
    .intro p {
        font-size: 20px;
        margin: 25px auto;
        text-align: center;
    }
        
        
    .intro .text a {
        display: block;
        width: 40%;
        margin: 25px auto;
        color: rgb(41, 9, 11);
        font-size: 12px;
        border: 1px solid rgb(3, 68, 22);
        padding: 8px 10px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        transition: all 0.4s;
    }
    .intro a:hover{
        background-color: rgb(94, 153, 104);
        color: rgb(15, 94, 28);
        transform: scale(1.05);
    }

    .intro img{
        margin: 40px auto;
        width: 100%;
    }
        
    /* Section PUNA */
    section.puna{
        width: 100%;
        height: auto;
        background-color: #fff;
        padding: 20px 0px;
    }
    
    section.puna h2{
        text-align: center;
        color: black;
        text-transform: uppercase;
    }
    
    section.puna p {
        color: rgb(7, 32, 15);
        margin-top: 10px;
        font-size: 20px;
        text-align: center;
    }
        
    section.puna .projektet{
        width: 100%;
        height: auto;
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    section.puna .projekt{
        position: relative;
        overflow: hidden;
    }
        
    .humanitet, .kulture, .eko{
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        align-content: center;
        width: 100%;
        height: 200px;
        display: block;
        margin: 0 auto;
    }

    .humanitet{
        background-image: url(../images/charity-logo.jpg);
        width: 80%;
        height: 250px;
    }
    .kulture{
        background-image: url(../images/culture-logo.jpg);
        width: 80%;
        height: 250px;
    }
    .eko{
        background-image: url(../images/eko-logo.png);
        width: 80%;
        height: 250px;
    }
        
    .projektet .details{
        width: 100%;
        background-color: lightgreen;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 0.4s;
        position: absolute;
        bottom: 0;
        bottom: 0;
        opacity: 0.8;
    }
    
    .projekt:hover .details {
        bottom: 0;
    }
        
    .projektet .details h3,
    .projektet .details p{
        color: rgb(15, 94, 28);
        text-align: center;
    }
        
    .projektet .details h3{
        font-size: 22px;
        }
        
    .projektet .details p{
        font-size: 16px;
        }
        
    .projektet .details a{
        display: block;
        width: 70%;
        margin: 0 auto;
        border: 1px solid rgb(15, 94, 28);
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        color: rgb(15, 94, 28);
        text-transform: uppercase;
        font-size: 14px;
    }
    .puna a{
        display: block;
        width: 30%;
    }
        
    .puna a:hover{
        background-color: rgb(94, 153, 104);
        color: rgb(15, 94, 28);
        transform: scale(1.05);
    }
        
    /* Section Stafi */
    section.staf{
        height: auto;
    }
    section.staf .container{
        width: 100%;
        height: auto;
    }

    section.staf h2{
        font-size: 24px;
    }

    section.staf p{
        font-size: 14px;
        padding: 0;
    }
    section.staf .members {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: auto;
    }
    section.staf a{
        line-height: 20px;
        margin-top: 50px;
    }
    .members h3{
        font-size: 14px;
        margin-top: 20px;
    }
    .member img{
        width: 200px;
        margin-top: 10px;
    }
    section.staf .member a{
        width: 50%;
        font-size: 11px;
        margin-top: 10px;
    }
    section.staf a{
        width: 25%;
        margin-top: 40px;
    }
    /* Section Gallery */
    section.gallery{
        padding: 15px 0px;
        height: auto;
    }
    .gallery .items {
        grid-template-columns: repeat(4, 22%);
    }

    .item img{
        width: 130px;
        height: 100px;
    }
    
    .gallery h1{
        margin: 10px auto;
    }

    /* Section Contact */
section.contact{
    height: auto;
}

    section.contact .container{
        width: 100%;
        height: auto;
    }
    .contact h1 {
        font-size: 20px;
        padding-top: 40px;
    }
    section.contact .contact-info-form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 15px;
        margin: 25px auto;
    }
    .form, .info {
        width: 100%;
        margin: 0 auto;
    }

    .contact button {
        width: 50%;
    }    
    .info iframe {
        height: auto;
        width: 510px;
    }
    .contact input, .contact textarea {
        padding: 10px;
        font-size: 14px;
    }  
}
